.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 70px;
  margin: auto;
  border-bottom: 1px solid #eeeeee;
  font-size: 18px;
  padding: 0px 10px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.logo img {
  max-width: 40px;
  margin-right: 5px;
}

.navigation .link {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navigation .link.active {
  background-color: #eeeeee;
  border-radius: 5px;
}

.items {
  font-weight: 500;
  min-width: 70px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 680px) {
  .navigation {
    display: none;
  }
}
